{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="allergy-advice">

    <div class="allergy-advices">
      <div class="content">
        <div class="ui-kit">Allergy Advices</div>
        <div class="at-our-restaurant-parent">
          <div class="at-our-restaurant">AT OUR RESTAURANT</div>
          <b class="we-use-only-container">
            <p class="we-use-only">
              We use only the freshest and highest quality ingredients in all
              our dishes,
            </p>
            <p class="and-offer-transparency">
              and offer transparency in our ingredient labeling.
            </p>
          </b>
        </div>
      </div>
      <div class="group-div">
        <img class="group-item" alt="" src="{% static 'images/frame-121@2x.png' %}" />

        <img class="group-inner" alt="" src="{% static 'images/frame-121@2x.png' %}" />

        <img class="group-icon" alt="" src="{% static 'images/chef2.png' %}" />
      </div>
    </div>  

    <div class="text"></div>
    <div class="momo-menu">
      <img class="vector-icon2" alt="" src="{% static 'images/vector2.svg' %}" />

      <img
        class="vecteezy-spices-and-herbs-on-a-icon"
        alt=""
        src="{% static 'images/spiceandherbs.png' %}"
      />

      <img class="vector-icon3" alt="" src="{% static 'images/vector1.svg' %}" />

      <div class="heading">
        <img class="brushes-icon" alt="" src="{% static 'images/leftbrushes.svg' %}" />

        <div class="ui-kit">
          <span>Ingredient's</span>
          <span class="used"> Used</span>
        </div>
        <img class="brushes-icon" alt="" src="{% static 'images/rightbrushes.svg' %}" />
      </div>
      <div class="for-the-dough-parent">
        <b class="ui-kit">For the Dough</b>
        <div class="bullet">
          <li class="points">
            <div class="bullet1"></div>
            <div class="penuts">120 gms refined flour</div>
          </li>
          <li class="points">
            <div class="bullet1"></div>
            <div class="penuts">1/4 tsp baking powder</div>
          </li>
          <li class="points">
            <div class="bullet1"></div>
            <div class="penuts">1/2 tsp salt water (for kneading)</div>
          </li>
        </div>
      </div>
      <div class="for-the-chicken-filling-parent">
        <b class="ui-kit">For the Chicken Filling:</b>
        <div class="bullet">
          <li class="points">
            <div class="bullet1"></div>
            <div class="penuts">1 cup chicken (minced)</div>
          </li>
          <li class="points">
            <div class="bullet1"></div>
            <div class="penuts">1/2 cup onions, finely chopped</div>
          </li>
          <li class="points">
            <div class="bullet1"></div>
            <div class="penuts">1/4 tsp black pepper powder</div>
          </li>
          <li class="points">
            <div class="bullet1"></div>
            <div class="penuts">1 tbsp oil</div>
          </li>
          <li class="points">
            <div class="bullet1"></div>
            <div class="penuts">1/2 tsp garlic paste</div>
          </li>
          <li class="points">
            <div class="bullet1"></div>
            <div class="penuts">1/2 tsp soya sauce</div>
          </li>
          <li class="points">
            <div class="bullet1"></div>
            <div class="penuts">Salt</div>
          </li>
          <li class="points">
            <div class="bullet1"></div>
            <div class="penuts">1/4 tsp vinegar</div>
          </li>
        </div>
      </div>
      <div class="for-the-vegetarian-filling-parent">
        <b class="ui-kit">For the Vegetarian Filling:</b>
        <div class="bullet">
          <li class="points">
            <div class="bullet1"></div>
            <div class="penuts">1 cup cabbage and carrots, grated</div>
          </li>
          <li class="points">
            <div class="bullet1"></div>
            <div class="penuts">2 tbsp onions , finely chopped</div>
          </li>
          <li class="points">
            <div class="bullet1"></div>
            <div class="penuts">1/2 tsp garlic, finely chopped</div>
          </li>
          <li class="points">
            <div class="bullet1"></div>
            <div class="penuts">1 tbsp oil</div>
          </li>
          <li class="points">
            <div class="bullet1"></div>
            <div class="penuts">1/4 tsp vinegar</div>
          </li>
          <li class="points">
            <div class="bullet1"></div>
            <div class="penuts">1/2 tsp soya sauce</div>
          </li>
          <li class="points">
            <div class="bullet1"></div>
            <div class="penuts">to taste salt</div>
          </li>
          <li class="points">
            <div class="bullet1"></div>
            <div class="penuts">to taste pepper</div>
          </li>
          <li class="points">
            <div class="bullet1"></div>
            <div class="penuts">1 tbsp cornflour</div>
          </li>
        </div>
      </div>
      <div class="for-chilli-sauce-parent">
        <b class="ui-kit">For Chilli Sauce:</b>
        <div class="bullet">
          <li class="points">
            <div class="bullet1"></div>
            <div class="penuts">25 gram garlic, peeled</div>
          </li>
          <li class="points">
            <div class="bullet1"></div>
            <div class="penuts">6 gms whole red chillies</div>
          </li>
          <li class="points">
            <div class="bullet1"></div>
            <div class="penuts">3 tbsp vinegar</div>
          </li>
          <li class="points">
            <div class="bullet1"></div>
            <div class="penuts">3 tbsp vinegar</div>
          </li>
          <li class="points">
            <div class="bullet1"></div>
            <div class="penuts">1 tbsp oil</div>
          </li>
          <li class="points">
            <div class="bullet1"></div>
            <div class="penuts">to taste salt</div>
          </li>
          <li class="points">
            <div class="bullet1"></div>
            <div class="penuts">to taste salt</div>
          </li>
          <li class="points">
            <div class="bullet1"></div>
            <div class="penuts">to taste sugar</div>
          </li>
        </div>
      </div>
    </div>

    <div class="momo-menu1">
      <div class="heading1">
        <img class="brushes-icon" alt="" src="{% static 'images/leftbrushes.svg' %}" />

        <div class="ui-kit">
          <span>Allergy</span>
          <span class="used"> Advice</span>
        </div>
        <img class="brushes-icon" alt="" src="{% static 'images/rightbrushes.svg' %}" />
      </div>
      <p class="lorem-ipsum-dolor-container">
        <span class="blank-line"
          >Lorem ipsum dolor sit amet consectetur. Feugiat lectus sit est
          blandit in gravida. Nisl facilisis luctus sit porttitor placerat
          purus tincidunt. Cursus nascetur a mauris odio quis sociis pretium
          nisl. In viverra diam dis montes orci congue vulputate magna
          ullamcorper. Semper tellus ipsum felis maecenas ultrices turpis amet
          euismod malesuada. Amet sed neque vitae malesuada quis sed
          urna.</span
        >
        <span class="blank-line">&nbsp;</span>
        <span class="blank-line"
          >Feugiat orci feugiat cursus risus tincidunt. Aliquet nam iaculis
          bibendum tortor varius sit. Volutpat nunc nisl quisque elit. Ac est
          ultricies risus et sed. Donec auctor tristique quam morbi
          pellentesque et. Scelerisque dui id arcu laoreet iaculis nunc et
          nulla sed. Aliquet nullam vulputate quis ut mi placerat auctor.
          Ipsum massa suspendisse netus mollis interdum.</span
        >
        <span class="blank-line">&nbsp;</span>
        <span class="blank-line"
          >Augue leo eget ut vitae maecenas ac. Metus massa nunc tristique
          donec dignissim aenean congue justo et. Parturient elit adipiscing
          non vitae mattis. Congue senectus urna cursus nisi nisl nisl
          tincidunt rhoncus. Congue sit etiam vestibulum elit aenean leo enim
          volutpat. Aliquet vitae condimentum bibendum ullamcorper vel cursus
          libero netus bibendum. Lorem id ut proin tincidunt. Nibh nunc amet
          odio est et. Sem dui nunc morbi leo quisque viverra ultrices. Mattis
          at tempus ultricies ut feugiat nunc dignissim. Urna turpis purus
          turpis elit risus.</span
        >
        <span class="blank-line">&nbsp;</span>
        <span class="blank-line"
          >Sed elit ornare senectus dignissim diam dolor sed dictum. Faucibus
          mauris senectus odio blandit diam nunc. Urna volutpat ut potenti ut
          mus orci neque sem. Mattis amet at amet faucibus nisl morbi aenean
          ac. Justo turpis bibendum donec lacinia. Enim integer ornare nibh
          urna enim tortor arcu sit lacinia. Dapibus praesent vitae dolor
          cursus fringilla hac facilisis pellentesque. Elementum lacus varius
          et neque amet aliquam donec sed. Ultrices euismod commodo id
          vehicula commodo. Amet lorem eros nulla mauris. Sit arcu enim sit
          nunc mi sed aenean. Ornare enim vitae volutpat est dui tortor.
          Viverra habitant et consequat vitae elit aliquet iaculis in
          tristique.</span
        >
        <span class="blank-line">&nbsp;</span>
        <span class="blank-line"
          >Quam ipsum viverra ac laoreet platea in praesent. Mattis molestie
          arcu nulla convallis interdum proin dui ut porta. Amet potenti
          praesent pulvinar scelerisque vitae habitant eget. Senectus hac id
          aliquam ipsum urna. Est ut amet nec sollicitudin nunc viverra nec
          ipsum suspendisse. Etiam risus ultricies dictum nisl. Bibendum
          ultrices elementum feugiat erat suspendisse mi fermentum magna
          suspendisse. Nisi mattis consequat nec donec eu amet nulla a. At
          blandit vulputate morbi tortor amet. Hac nec gravida tempor ac.
          Senectus nunc libero scelerisque quisque. Risus condimentum mattis
          massa integer.</span
        >
      </p>
      <div class="qr-code">
        <div class="content1">
          <b class="ui-kit">Scan the QR code</b>
          <div class="you-can-also">
            You can also check the allergy advices using your phone as well
          </div>
        </div>
        <div class="sacn">
          <div class="scan">
            <img class="scan-child" alt="" src="{% static 'images/qr1.png' %}" />
          </div>
          <div class="text1">
            <b class="ui-kit">SCAN</b>
            <b class="me">ME!</b>
            <img class="mobile-icon" alt="" src="{% static 'images/mobile.svg' %}" />
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <script src="{% static 'js/resp.js' %}"></script>

{% endblock %}